.header-container {
  display: flex;
  padding: 20px 10px;
  height: 60px;
}

.ninja-logo {
  margin-left: auto;
  height: 50px;
}

.title {
  margin: 10px 0;
  font-weight: 300;
}

.separator {
  border: 1px solid var(--black);
}